<%- include('partials/header'); -%>

		<!--**********************************
            Content body start
        ***********************************-->
		<div class="content-body">
			<div class="row">
				<div class="container-fluid ">
					<div class="row col-xl-12 col-sm-6 col-md-6 ">
						<form class="row g-3 ">
							<div class="col-xl-6 col-sm-6 col-md-6 ">
							  <label  class="form-label">Project Name</label>
							  <input type="text" class="form-control" placeholder="Name" >
							</div>
							<div class="col-xl-6 col-sm-6 col-md-6">
							  <label  class="form-label">Categoy</label>
							  <input type="text" class="form-control" placeholder="Categoy" >
							</div>
							<div class="col-xl-6 col-sm-6 col-md-6 ">
							  <label  class="form-label">Start Date</label>
							  <input type="date" class="form-control" placeholder="Date">
							</div>
							<div class="col-xl-6 col-sm-6 col-md-6 ">
								<label  class="form-label">Start time</label>
								<input type="time" class="form-control" placeholder="Time">
							</div>
							<div class="col-xl-6 col-sm-6 col-md-6 ">
								<label  class="form-label">End Date</label>
								<input type="date" class="form-control" placeholder="Date">
							</div>

							<div class="col-xl-6 col-sm-6 col-md-6">
								<label  class="form-label">End Time</label>
								<input type="time" class="form-control" placeholder="Time">
							</div>

							<div class="col-xl-6 col-sm-6 col-md-6">
								<label  class="form-label">Total Hour</label>
								<input type="time" class="form-control" placeholder="Hours">
							</div>

							<div class="col-xl-6 col-sm-6 col-md-6">
								<label  class="form-label">Budget</label>
								<input type="number" class="form-control" placeholder="Amount">
							</div>

							<div class="col-xl-6 col-sm-6 col-md-6">
								<label  class="form-label">Remarks</label>
								<input type="text" class="form-control" placeholder="Remark">
							</div>

							<div class="col-xl-6 col-sm-6 col-md-6">
								<label  class="form-label">Logo</label>
								<input type="image" class="form-control" placeholder="Img">
							</div>

							<div class="col-xl-6 col-sm-6 col-md-6">
								<label  class="form-label">Upoad File</label>
								<input type="file" class="form-control" placeholder="Upload">
							</div>

							<div class="col-xl-6 col-sm-6 col-md-6">
							
									<label class="form-label  fs-18 font-w500 color-primary">Status :</label>
									<label class="custom-control custom-radio success mt-4 p-4 ">
									<input type="radio" class="custom-control-input" name="example-radios1" value="option1">
									<span class="custom-control-label">Completed</span>
									</label>
								
									<label class="custom-control custom-radio success p-4 ">
									<input type="radio" class="custom-control-input" name="example-radios1" value="option2">
									<span class="custom-control-label">Pending</span>
									</label>

									<label class="custom-control custom-radio success p-4 ">
									<input type="radio" class="custom-control-input" name="example-radios1" value="option3">
									<span class="custom-control-label">On Progress</span>
									</label>
									</div>
							
							
							<div class="col-12">
							  <button type="submit" class="btn btn-primary">Submit</button>
							</div>
						  </form>
					</div>
				</div>
			</div>
		</div>
		

		


			
        <!--**********************************
            Content body end
        ***********************************-->
		


		
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="../index.htm" target="_blank">DexignLab</a> 2021</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

		<!--**********************************
           Support ticket button start
        ***********************************-->
		
        <!--**********************************
           Support ticket button end
        ***********************************-->


	</div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Icons -->
	
	<script src="https://kit.fontawesome.com/de5bb79718.js" crossorigin="anonymous"></script>

    <!-- Required vendors -->
    <script src="vendor/global/global.min.js"></script>
	<script src="vendor/chart.js/Chart.bundle.min.js"></script>
	<script src="vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>
	
	<!-- Apex Chart -->
	<script src="vendor/apexchart/apexchart.js"></script>
	
	<script src="vendor/chart.js/Chart.bundle.min.js"></script>
	
	<!-- Chart piety plugin files -->
    <script src="vendor/peity/jquery.peity.min.js"></script>
	<!-- Dashboard 1 -->
	<script src="js/dashboard/dashboard-1.js"></script>
	
	<script src="vendor/owl-carousel/owl.carousel.js"></script>
	
    <script src="js/custom.min.js"></script>
	<script src="js/dlabnav-init.js"></script>
	<script src="js/demo.js"></script>
    <script src="js/styleSwitcher.js"></script>
	<script>
		function cardsCenter()
		{
			
			/*  testimonial one function by = owl.carousel.js */
			
	
			
			jQuery('.card-slider').owlCarousel({
				loop:true,
				margin:10,
				nav:false,
				//center:true,
				slideSpeed: 3000,
				paginationSpeed: 3000,
				dots: false,
				navText: ['', ''],
				responsive:{
					0:{
						items:1
					},
					576:{
						items:2
					},	
					800:{
						items:2
					},			
					991:{
						items:2
					},
					1200:{
						items:3
					},
					1600:{
						items:4
					}
				}
			})
		}
		
		jQuery(window).on('load',function(){
			setTimeout(function(){
				cardsCenter();
			}, 1000); 
		});
		
	</script>

</body>
</html>